:root { 
  --black: #000000;
  --breaker-bay: #63a0a3;
  --white: #ffffff;
 
  --font-size-l: 96px;
  --font-size-m: 36px;
  --font-size-s: 24px;
 
  --font-family-caladea: "Caladea", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.roboto-bold-breaker-bay-36px {
  color: var(--breaker-bay);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
